

.header-component {
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
}

.nav-options { 
    margin-right: 30px;
}

.nav-options > ul, li, a{
    display: inline-block;
    padding: 7px;
}

.logo {
    display: flex;
    align-items: center;
    padding-bottom: 6px;
    padding-left: 20px;
}

.logo > a{
    font-size: 35px;
    font-weight: 600;
    cursor: pointer;
}


.dropdown-menu {
    position: absolute;
    display: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px;
    background-color: rgb(255, 255, 255);
    width: 145px;
    text-align: center;
}

.dropdown-menu a:hover {
    background-color: rgb(146, 119, 156);
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.dropdown  a#title:hover {
    color: rgb(180, 56, 187);
    transition: 0.3s;
}

.dropdown-menu a{
    display: block;
    color: black;
    border-radius: 9px;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown a#title {
    margin-left: 33px;
    cursor: default;
}

.options {
    color: white;
}

.options:hover {
    color: rgb(180, 56, 187);
    transition: 0.3s;
}


