.card-container  {
    display: flex;
    gap: 10px;
    align-items: start;
    flex-direction: column;
    padding: 10px;
    border: 1px solid rgb(219, 219, 219);

}

.card-container:hover {
    background-color: rgb(182, 182, 185);
    transition: 0.5s;
}

.card-name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-cost {
    
}

.card-category {
    /* font-size: */
}