


.container-product {
    height: 100%;
}

.product-area {
    margin: auto;
    width: 90%;
    height: 90%;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
